#root {
  margin: 0;
  padding: none;
  font-size: 1.2rem;
  font-family: 'Tajawal';
  font-weight: 400;
}

.title {
  font-family: 'Dancing Script';
}

.navbar > .container-md{
  --bs-gutter-x: 6rem;
  flex-wrap: wrap;
}

.logo {
  max-width: 300px;
  width:100%;
}

.dropdown-menu {
  --bs-dropdown-min-width: 5rem;
  overflow-x: none;
}

.ratio {
  position: relative;
  top: 0;
}

.embed-responsive{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
} 

#about-row {
  align-items:center !important;
}

.card-img {
  max-width:200px;
  float : left;
}

.card-text {
  float: right;
}

.btn, .btn:hover {
  border-color: #c84771;
  background-color: #c84771;
  color: white;
}

.btn a, .btn a:visited {
  color: white;
  text-decoration: none;
}

#ok-btn:disabled {
  border-color: gray;
  background-color: gray;
}

#btn1, #btn2 {
  margin: 0.5rem;
}

.hidden {
  display: none;
}

.footer-item:visited {
  color: inherit;
}

.floating-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  border-radius: 50px;
  border-color: #25d366;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.floating-btn:hover {
  background-color: #25d366;
  border-color: #25d366;
}


@media only screen and (max-width: 450px) {
  #root {
    font-size: 0.8rem;
  }

  #header {
    justify-content:center !important;
  }

  #about, #services, #turnos {
    padding:0 !important;
  }

  #about-col1 img {
    margin: 0 !important;
    padding: 2rem !important;
  }

  .service-item {
    margin: 0 !important;
    padding-top:1rem !important;
  }

  #about-col2 {
    margin-top: 0 !important;
  }

  #turnos, #voucher-col2 {
    margin: 0 !important;
    padding:1rem !important;
  }

  #voucher, #form-col-2 {
    padding:1.5rem !important;
  }

  #voucher-img {
    display:none;
  }

  .form-control {
    width: 75% !important;
  }

  .footer {
    flex-direction: column !important;
  }

  .floating-btn {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    padding: 0;
  }

  .floating-icon {
    padding: 10px !important;
  }
}