#root {
  margin: 0;
  padding: none;
  font-size: 1.2rem;
  font-family: 'Tajawal';
  font-weight: 400;
}

*, *::before, *::after {
  scroll-behaviour: smooth;
}

.title {
  font-family: 'Dancing Script';
}

.navbar > .container-md{
  --bs-gutter-x: 6rem;
  flex-wrap: wrap;
}

.logo {
  max-width: 300px;
  width:100%;
}

.dropdown-menu {
  --bs-dropdown-min-width: 5rem;
  overflow-x: none;
}

.ratio {
  position: relative;
  top: 0;
}

.embed-responsive{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
} 

#about-row {
  align-items:center !important;
}

.card-img {
  max-width:200px;
  float : left;
}

.card-text {
  float: right;
}

.btn, .btn:hover {
  border-color: #c84771;
  background-color: #c84771;
  color: white;
}

.btn a, .btn a:visited {
  color: white;
  text-decoration: none;
}

#ok-btn:disabled {
  border-color: gray;
  background-color: gray;
}

#btn1, #btn2 {
  margin: 0.5rem;
}

.hidden {
  display: none;
}

.footer-item:visited {
  color: inherit;
}

.floating-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  border-radius: 50px;
  border-color: #25d366;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.floating-btn:hover {
  background-color: #25d366;
  border-color: #25d366;
}

main {
  background-image: url(./images/flor2.png);
  background-repeat: no-repeat;
  background-position: bottom right 30px;
  background-size: 20%;
}

.navbar {
  background-image: url(./images/flor8.png);
  background-repeat: no-repeat;
  background-position: center right 5%;
  background-size: 5%;
}

#about {
  background-image: url(./images/flor6.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
}

#turnos {
  background-image: url(./images/flor1.png);
  background-repeat: no-repeat;
  background-position: bottom 10% right 10%;
  background-size: 30%;
}

.lavado {
  background-image: url(./images/flor7.png);
  background-repeat: no-repeat;
  background-position: bottom 30px left 40px;
  background-size: 60%;
}

.corte {
  background-image: url(./images/flor5.png);
  background-repeat: no-repeat;
  background-position: bottom 10% left 20%;
  background-size: 30%;
}

.color {
  background-image: url(./images/flor4.png);
  background-repeat: no-repeat;
  background-position: bottom 20% right;
  background-size: 50%;
}

.peinados {
  background-image: url(./images/flor3.png);
  background-repeat: no-repeat;
  background-position: bottom 10% left;
  background-size: 50%;
}

@keyframes showImg {
  from {
    opacity: 0;
    scale: 25%
  }

  to {
    opacity: 1;
    scale: 100%
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(+100%);
    transition: all 0.5s;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.left {
  view-timeline-name: --left;
  view-timeline-axis: block;

  animation-timeline: --left;
  animation-name: slideRight;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.right {
  view-timeline-name: --right;
  view-timeline-axis: block;

  animation-timeline: --right;
  animation-name: slideLeft;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}


img, .carousel {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: showImg;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@media only screen and (max-width: 450px) {
  #root {
    font-size: 0.8rem;
  }

  #header {
    justify-content:center !important;
  }

  #about, #services, #turnos {
    padding:0 !important;
  }

  #about-col1 img {
    margin: 0 !important;
    padding: 2rem !important;
  }

  .service-item {
    margin: 0 !important;
    padding-top:1rem !important;
  }

  #about-col2 {
    margin-top: 0 !important;
  }

  #turnos, #voucher-col2 {
    margin: 0 !important;
    padding:1rem !important;
  }

  #voucher, #form-col-2 {
    padding:1.5rem !important;
  }

  #voucher-img {
    display:none;
  }

  .form-control {
    width: 75% !important;
  }

  .footer {
    flex-direction: column !important;
  }

  .floating-btn {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    padding: 0;
  }

  .floating-icon {
    padding: 10px !important;
  }
}